
#main
{ width:100%; height:80px;  margin:0px auto; }
#search
{ width:500px; height:190px;  margin-left: 400px; margin-top: 150px;}

#search_logo
{ width:500px; height:70px; }

#search_box
{ width:500px; height:60px;  }

#search_text
{ width:100px; height:50px;  margin-top: 30px; margin-left: 200px;}

#registration
{ width:280px; height:50px; margin-left: 70%;}
#login
{ width:100px; height:50px; background-color:#00a8c6; float: left;}

#singup
{ width:160px; height:50px; background-color:#00a8c6; float: right;}

 #search_p {color: #00a5bb; font-size: 48px; font-weight: bold; text-align: center;}

#search_button {color: #00a5bb; font-size: 28px; font-weight: bold;}

#registration_text {color: #0a001f; font-size: 28px; font-weight: bold; text-decoration: none; line-height: 180%;}

input[type=search] {
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h2 {
    color: #00ACC1;
    font-family: 'Microsoft Sans Serif', Tahoma, Arial, Verdana, Sans-Serif;
    font-size:25px;
    font-weight: bold;
}

label {
    color: #1A237E;
    font-size:16px;
    font-weight: bold;
}
